
 .draggedTags:hover {
    background-color: green;
} 
/* .draggedTags:hover{
    background-color: black;
    -webkit-user-drag: element;
    user-select: none;
}  */

/* a:visited{
color: aquamarine;
} */

.draggedTags:active{
    background: pink;
}

/* div.draggedTags.active{
    background: blue;
} */

/* .draggedTags:focus{
    background-color: red;
} */

/* .draggedTags:focus, .draggedTags:active{
    background-color: rgb(0, 0, 0);
 } */