 /* #tableDiv {
width: 100%
  }

  /* #tableDiv #tableEle {
    flex: 1 0 33%;
    height: 50px;
    border: 1px solid black;
  }  */

  /* #tableEle {
    display: inline-block;
    padding-left: 20px;
  overflow-y: auto;
  max-height: 300px;
  color:blue;
  max-width: 180px;
  overflow: scroll;

  } */
 
  #test:hover {
    background-color: #f4df54;
    color:  #68eda7;
  }

  #test:focus {
    background-color: #54b7f4;
    color:  #ed68d9;
  }

  #test:active {
    background-color: #ffffff;
    color:  #313131;
  }
