
  #selectedEle {

    width: 50%;
    margin-left: 20%;
  display:flex;
  justify-content: center;
  align-items: center;
    font-size: 20px;
    background: -webkit-linear-gradient(#68eda7, #ffe958);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    /* border: 2px solid;
    border-image: linear-gradient(45deg, #68eda7, #ffe958) 1;
    border-radius:10px; */
  }

  input[type=text]{
    color: red;
}

#text {
  color: pink;
}

input {
  font-size: 15px;
  background: -webkit-linear-gradient(#68eda7, #ffe958);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  border: 2px solid;
  border-image: linear-gradient(45deg, #68eda7, #ffe958) 1;
  border-radius:4px;
  width: 200px;
  margin-top: 10px;

}

.textAlign{


.textDecoration{

}