
  #selectedEle {

margin-top: 4%;
 text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
    font-size: 25px;
    background: -webkit-linear-gradient(#68eda7, #ffe958);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
 
  }

  input[type=text]{
    color: red;
}

#text {
  color: pink;
}

#styling input {
  font-size: 15px;
  background: -webkit-linear-gradient(#68eda7, #ffe958);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  border: 2px solid;
  border-image: linear-gradient(45deg, #68eda7, #ffe958) 1;
  border-radius:4px;

  margin-top: 10px;

}

form {
  display: inline-block;
  color: white;
  align-items: center;
  margin-left: 10%;
  font-weight: bolder;
  font-size: 20px;

}

#lft {
float: left
}

#rt {
float: right
}

.btn {
  margin-top: 27%;
  background-image: linear-gradient(45deg, #68eda7, #ffe958);
  color: #2D3033;

}

.textDecoration {
  background-image: linear-gradient(45deg, #68eda7, #ffe958);
  color: #2D3033;
}

.textAlign {
  background-image: linear-gradient(45deg, #68eda7, #ffe958);
  color: #2D3033;
}

