/* #side {
    overflow-y: scroll;
    overflow-x: hidden;
    
}

#side::-webkit-scrollbar {
    width: 10px; 
 }

#side::-webkit-scrollbar-track {
  background-color: black;
}

#side::-webkit-scrollbar-thumb {
  background: #4e4e4e;
  border-radius: 25px;
} */

/* #scroll{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}
#side{
    height: 100px;
    background: yellow;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid red;
}

#drop{
    height: 100px;
    background: yellow;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid red;
} */
#clearBtn{
    color: rgb(255, 0, 221);
 }
#scroll {
    /* width: 1005px; */
    margin: 0 auto;
    background-image: linear-gradient(#68eda7, #ffe958);
    
    width: 100%;
    height: 100%;
}
#side,
#drop {
    float: left;
    min-height: 450px;
    height: 70%;
}
#side {
    /* width: 250px; */
    width: 13%;
    background-image: linear-gradient(#68eda7, #ffe958);
    height: 100%;
    border: 2px solid #68eda7
}
#drop {
    /* width: 750px; */
    width: 86.5%;
    background-color: #2d3033;
    height: 100%;
    text-align: center;
    font-weight: bolder;
}

button {
    font-size: 20px;
    color:-webkit-linear-gradient(#68eda7, #ffe958);
    background: -webkit-linear-gradient(#68eda7, #ffe958);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgb(45, 48, 51);
    font-weight: bold;
  
    
}

/* background-color: #777;
height: 100%;
background-color: #2D3033;
border-image: linear-gradient(180deg, rgb(0,143,104), rgb(250,224,66)) 1;
border-width: 2px;
border-style: solid;
font-size: 30px; */

.draggedTags {
    
    
    text-align: center;
    font-weight: bold;
    
    
    width: 97%;
    
    
    margin-left: 1%;
    margin-bottom: 8px;
    margin-top: 5px;
    font-size: 20px;
    background: -webkit-linear-gradient(#68eda7, #ffe958);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 3px solid;
    border-image: linear-gradient(45deg, #68eda7, #ffe958) 1;
    border-radius:10px;
    
}

.draggedTags:hover{
    background-color: #68eda7;
}


#clearBtn{
   color: aqua;
}